extends ../layout

block content 
    h1 Editar multas 
    if error 
        h2= error
    form(action=`/multas/${multa.id}`, method="post")
        label(for="importe_multa") Importe Multa 
        input(type="text", name="importe_multa", id="importe_multa" value=multa.importe_multa)  
        label(for="fecha_multa") Fecha Multa
        input(type="datetime-local", name="fecha_multa", id="fecha_multa", value=multa.fecha_multa)
        label(for="id_parking") Id parking
        input(type="number", name="id_parking", id="id_parking", value=multa.id_parking)
        abel(for="activa") Activa
        input(type="number", name="activa", id="activa", value=multa.activa)  
        input(type="submit", value="guardar")