extends ../layout

block content 
    h1.coches-list-title Lista de coches 
    if error 
        h2 No se han podido encontrar los datos
    else if datos 
        ul 
                table 
                    thead 
                        th Matricula:
                        th Marca:
                        th Modelo:
                        th Zona:
                        th Activo:
                        th Importe multa:
                    tbody
                        each dato in datos 
                            tr
                                td= dato.coches.matricula
                                td= dato.coches.marca
                                td= dato.coches.modelo
                                if dato.zona
                                    td= dato.zona.nombre_zona
                                else 
                                    td no hay zona
                                if dato.activo
                                    td Parking Activo
                                else 
                                    td no está activo
                                if dato.multas
                                    td= dato.multas.importe_multa + "€"
                                else 
                                    td No hay multa
                
                
                
               
